.bodycss{
  background-color: #a2c6e6ed;
}
 .listspace{
  margin: 11px;
    padding: 10px;
    box-shadow: 1px 2px 3px 1px grey;
  
 }

.searchcss{
  border: 2px #8497e1 solid;
  width: 267px;
  border-radius: 11px;

}
.sbar{
  height:80px;

  
}
select{
  height: 54px;
  width: 31.1%;
  border-radius: 8px;
}
.options{
  margin-right: 12px;
  margin-bottom: 5px;
  border: none;
  background-color: #2c52dc94;
  color: white;
  padding: 7px;
  border-radius: 11px;
  margin-top: 4px;
  margin-left: 2px;
}

.divelement{
  margin-top: 15%;
  margin-left: 37%;
}
 .buttoncss{
  border: none;
  background-color: #859beb;
  color: white;
  font-weight: 800;
  font-size: 18px;

 }


